/* Defining everything in this css file because
 * for whatever reason, defining it in the
 * components doesn't work consistently.
 */

/* Main Stuff */
@font-face {
  font-family: Inter;
  src: url("/Inter-SemiBold.otf");
}
:root {
  font-family:Inter;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --action-color: #008CFB;

  background-color: #181a21;
  color: white;
  text-align: center;
}

/* lib/Logo.svelte */
.logo {
  height: 32px;
  padding: 24px;
}

/* lib/InstallButton.svelte */
.large-btn {
  margin-top: 18px;
  font-family: inherit;
  border-radius: 16px;
  border: solid 1px white;
  color: inherit;
  background: none;
  width: 240px;
  line-height: 32px;
  font-size: 12px;
}
.large-btn:hover {
  background: var(--action-color);
  border-color: var(--action-color);
  cursor: pointer;
  transition: none;
}
.large-btn:active {
  opacity: 0.6;
}

/* lib/StartButton.svelte */
.admin-pwd {
  display: block;
  margin: auto;
  margin-top: 18px;
  padding: 8px;
  width: 360px;
  text-align: center;
  color: #181A21;
  /* background: #0816244D; */
  background: white;
  border: solid 1px white;
  border-radius: 4px;
  font-family: inherit;
}
.admin-pwd::placeholder {
  color: #181A213D;
  font-family: inherit;
}
.admin-pwd:focus {
  outline: none;
}
.admin-err {
  border-color: red;
  color: red;
  background: none;
}
.start-btn {
  margin-top: 18px;
  font-family: inherit;
  border-radius: 16px;
  width: 240px;
  line-height: 32px;
  font-size: 12px;
  transition: opacity 0.3s;
}
.start-enabled {
  border: solid 1px white;
  color: inherit;
  background: none;
}
.start-enabled:hover {
  background: var(--action-color);
  border-color: var(--action-color);
  cursor: pointer;
  transition: none;
}
.start-enabled:active {
  opacity: 0.6;
}
.start-disabled {
  border: solid 1px white;
  color: inherit;
  background: none;
  pointer-events: none;
  opacity: 0.2;
}
.start-err {
  border: solid 1px red;
  color: red;
  background: none;
  pointer-events: none;
}

/* lib/Launcher.svelte */
.launcher-wrapper {
  display: flex;
  flex-direction: column;
}
.launcher-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}
.launcher-text {
  font-size: 14px;
  line-height: 24px;
}
/*
.launcher-storage-val {
  font-size: 24px;
  line-height: 48px;
}
*/

.reset-button {
  width: 70px;
  display: block;
  color: white;
  background: none;
  border: solid 1px white;
  border-radius: 6px;
  font-size: 10px;
}
.reset-button:hover {
  border-color: #008CFB;
  cursor: pointer;
  background: #008CFB;
}
.reset-button:active {
  opacity: 0.6;
}
