@font-face {
  font-family: Inter;
  src: url("/Inter-SemiBold.otf");
}

:root {
  font-family:Inter;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --action-color: #008CFB;

  background-color: #181a21;
  color: white;
  text-align: center;
}
.logo {
  height: 32px;
  padding: 14px;
}
